{% extends "base.html" %}
{% block body %}
    <div class="container animations">

        <div class="background"></div>
        <canvas class="back canvas full"></canvas>

        <div class="foreground"></div>
        <canvas class="front canvas full"></canvas>

        <div class="modules ui">
            <!-- All UI modules go here -->

            <div class="module name text box page-start">
                <h1>Justin Iso</h1>

                <p>Hello! I am a software engineer in NYC who's all about continuous deployment--shipping
                well-tested code as frequently as possible. I can talk for hours about CD best
                practices, 3D printing at <a title="Shapeways" href="http://shapeways.com">Shapeways</a>, or the
                culinary arts. So please get in touch! Send me a message through one of these fine social platforms:
                </p>
                <p>
                    <br>
                    <a href="https://github.com/justiniso" target="_blank">Github</a> |
                    <a href="http://www.linkedin.com/in/justiniso" target="_blank">LinkedIn</a> |
                    <a href="https://twitter.com/justiniso" target="_blank">Twitter</a> |
                    <a href="http://instagram.com/justiniso" target="_blank">Instagram</a>
                </p>
            </div>

            <!-- Door Module -->
            <div class="module doors">
                <div class="door top"></div>
                <div class="door bottom"></div>
            </div>

            <!-- Cursor Module -->
            <div class="module cursors">
                <div class="cursor"></div>
                <div class="cursor click"></div>
            </div>
        </div>
    </div>
{% endblock %}