{% extends "base.html" %}
{% block body %}
    <div class="container animations">

        <div class="background"></div>
        <canvas class="back canvas full"></canvas>

        <div class="foreground"></div>
        <canvas class="front canvas full"></canvas>

        <div class="modules ui">
            <!-- All UI modules go here -->

            <div class="module name text box page-start">
                <h1>Justin Iso</h1>
                <p>
                    <a href="mailto:contact@justiniso.com">contact@justiniso.com</a> |
                    <a href="https://github.com/justiniso" target="_blank">Github</a> |
                    <a href="http://www.linkedin.com/in/justiniso" target="_blank">LinkedIn</a> |
                    <a href="https://twitter.com/justiniso" target="_blank">Twitter</a> |
                    <a href="https://medium.com/@justiniso" target="_blank">Blog</a> |
                    <a href="http://instagram.com/justiniso" target="_blank">Instagram</a>
                </p>
                <br>

                <p>Hello! I am a software engineer in NYC who's all about Continuous Delivery--shipping well-tested code as often as possible. I also work for <a href="http://www.jwplayer.com/" target="_blank">JWPlayer</a> as a Software Development Engineer in Test. Feel free to get in touch. I can talk your ear off about CD best practices, the beautiful and ugly parts of Python, or the culinary arts.
                </p>
                <!--
                <h6>Projects</h6>
                <p>
                    <a class="strong" href="http://www.eatsafenyc.com">EatSafeNYC.com</a> 
                    <br>
                    Restaurant health violation search. Press: <a href="http://www.timeout.com/newyork/blog/new-site-helpfully-illustrates-nyc-restaurant-health-code-violations-with-emojis-100715">Timeout</a>, <a href="https://www.dnainfo.com/new-york/20151007/midtown/learn-about-your-favorite-restaurants-health-code-violations-with-emoji">DNAinfo</a>, <a href="https://viewing.nyc/eat-safe-nyc-a-website-that-shows-restaurant-health-code-violations-with-emoji/">Viewing.nyc</a>.
                </p>
                <p>
                    <a class="strong" href="https://github.com/justiniso/polling">Python Polling</a>
                    <br>
                    Generic python polling utility with over 500 monthly downloads. 
                </p>
                -->

            </div>

            <!-- Door Module -->
            <div class="module doors">
                <div class="door top"></div>
                <div class="door bottom"></div>
            </div>

            <!-- Cursor Module -->
            <div class="module cursors">
                <div class="cursor"></div>
                <div class="cursor click"></div>
            </div>
        </div>
    </div>
{% endblock %}